<mat-toolbar color="primary">
  <span><img src="/assets/tennis3.jpg" height=30 width=41></span>
  <a mat-button routerLink='/home' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink='/overOns' routerLinkActive='active'><span class="fa fa-info fa-lg"></span> Over ons</a>
  <a mat-button routerLink='/verhuur' routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Verhuur</a>
  <a mat-button routerLink='/contactons' routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Contact</a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Tennis-Boost</h1>
    <p>Verhoog je speelsterkte</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/tennis3.jpg" alt="Logo">
  </div>
  <div fxFlex></div>
</div>

