<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="tenniscannon" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{tenniscannon.naam | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + tenniscannon.foto}}" alt={{tenniscannon.naam}}>
  <mat-card-content>
    <p>{{tenniscannon.omschrijving}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="tenniscannon || tenniscannonErrMess">
  <mat-spinner></mat-spinner><h4>Wordt geladen . . . Even geduld a.u.b.</h4>
</div>
<div fxFlex *ngIf="tenniscannonErrMess">
  <h2>Fout</h2>
  <h4>{{tenniscannonErrMess}}</h4>
</div>


<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.naam | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{promotion.foto}} alt={{promotion.naam}}>
  <mat-card-content>
    <p>{{promotion.omschrijving}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="promotion">
  <mat-spinner></mat-spinner><h4>Wordt geladen . . . Even geduld a.u.b.</h4>
</div>

<mat-card *ngIf="gallery" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{gallery.naam | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{gallery.foto}} alt={{gallery.naam}}>
    <mat-card-content>
      <p>{{gallery.omschrijving}}
      </p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="gallery">
    <mat-spinner></mat-spinner><h4>Wordt geladen . . . Even geduld a.u.b.</h4>
  </div>

</div>