<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">


  <div fxFlex="40" *ngIf="tenniscannon">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{tenniscannon.naam | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{tenniscannon.foto}} alt={{tenniscannon.naam}}>
      <mat-card-content>
        <p>{{tenniscannon.omschrijving}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>VOORKEUR</button>
        <button mat-button>VERGELIJK</button>
      </mat-card-actions>
    </mat-card>
  
</div>

<div fxFlex="40">
<mat-list *ngIf="tenniscannon">
    <h3>Beoordelingen</h3>
    
    <mat-list-item *ngFor="let comment of tenniscannon.comments">
    <h4 matLine>{{comment.opmerking}}</h4>
      <p matLine>{{comment.schaal}} Sterren</p>
      <p matLine> 
        <span> -- {{comment.gebruiker}} {{comment.datum | date}}</span>
        </p>
    
  </mat-list-item>
  </mat-list>
</div>


</div>